<%- include('bootheader') -%>
<%- include('menubar') -%>
<!-- author.ejs -- page renders info about wesbite author, Jesse Rips -->

    <div class="jumbotron">
        <h1>Jesse Rips</h1>
        <p>About the Author</p>
    </div>

<div class="row">

  <div>
    <p>
      I am a rising Senior at Brandeis University. I'm studying Psychology and Computer Science.
      I am also an IT Technician at the Brandeis Help Desk and the Website Manager for the Brandeis Judaic Studies Journal.
      I hope to pursue a career in UX Design.
    </p>
      <div>
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Los Angeles, CA</li>
        <li> South Orange, NJ</li>
        <li> Nyack, NY</li>
        <li> Waltham, MA</li>
      </ul>
    </div>
<div>
    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="http://www.brandeis.edu">Brandeis</a></li>
      <li> <a href="https://www.chelseasmessyapron.com/one-pan-healthy-sausage-and-veggies/">My go-to Dinner Recipe</a></li>
    </ul>
    </div>
  </div>

  <div class="col">
    <img src="images/Jesse_Rips.jpg"
     width="200">
  </div>

</div>

<%- include('bootfooter') -%>
