<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ReciMe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/savedRecipes">Saved Recipes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/plannedMeals">Meal Planner</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/form">Measurement Tools</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/profile">Your Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/author">Author's Bio</a>
      </li>

    </ul>


  </div>
</nav>
